body{
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'mn mn mn'
    'ft ft ft'
    ;
    margin: 0;
    height: 230vh;
    
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 180vh 30vh;
}

@font-face {
    font-family: ett;
    src: url(/fonts/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: fem;
    src: url(/fonts/SuperMaples-2vR2w.ttf);
}
header h1{
    color: grey;
    font-family: fem;
    font-size: 4em;
    text-align: center;
    font-weight: 1;
    margin: 0;  
    margin-right: 330px;
    margin-top: 10px;
    text-shadow: 5px 5px orange;
}

#om{

    margin-left: 230px;
    margin-right: 330px;
    text-decoration: none;
    font-size: 3em;
    color: grey;
    font-family: fem;
    margin-top: 20px;
    text-shadow: 5px 5px orange;

}



#bläddra{

    margin-top: 20px;
    font-size: 3em;
    color: grey;
    font-family: fem;
    text-shadow: 5px 5px orange;
}

.card {
    width: 80%; 
    height: 400px; 
    gap: 0;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) inset;
    color: white;
    font-size: 1.5em;
    display: flex;
    font-weight: 670;
    justify-content: space-evenly;
    transition: 0.3s;
    background-color:#E1D9D1 ;

    align-items: center;
    
}



.text{
        color: grey;
        font-family: ett;
        font-size: 1,5em;
        text-shadow: 2px 2px orange;
}



body img{

    width: 50%;
    height: 80%;
    margin-left: 40px;
    transition: 0.3s;

}

img:hover{
    
    transform: scale(1.4);
    box-shadow: -30px 30px 90px 0px rgba(102, 101, 101, 0.748); 
   

}

footer h4{

margin-left: 50px;

}

footer h4:hover{

    font-size: 1.2em;
}


footer{

    grid-area: ft;
    background-color: white;
    color: black;
    justify-items: space-evenly;
    padding: 20px;
    font-family: ett;
}



#hel{

    color: black;
}

header{
    grid-area: hd;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    text-decoration: none;

}

main{

    grid-area: mn;
    background-color: #F0EEE9;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center; 
    align-items: center;
}

a:link{
        text-decoration: none;
}


