body{
    display: grid;
    grid-template-columns: 40vw 20vw 40vw; 
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas: 
    'hd hd hd'
    'sc mn as'
    'sc mn as';
    background-image: url(../img/modern-blank-room-blue-turquoise-wall-with-sunlight-window-blank-room-background-use_861973-37390.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 97vh;   
}

@font-face {
    font-family: ett;
    src: url(/fonts/DroplineRegular-Wpegz.otf);
}

@font-face {
    font-family: två;
    src: url(/fonts/Oi-Regular.ttf);
}

@font-face {
    font-family: tre;
    src: url(/fonts/QueensidesMedium-x30zV.ttf);
}

@font-face {
    font-family: fyra;
    src: url(/fonts/SportingOutline-x3e85.ttf);
}

@font-face {
    font-family: fem;
    src: url(/fonts/SuperMaples-2vR2w.ttf);
}

@font-face {
    font-family: sex;
    src: url(/fonts/DushickRegular-3lx96.otf);
}

header h1{
    color: grey;
    font-family: sex;
    font-size: 4em;
    text-align: center;
    font-weight: 1;
    margin: 0;  
    margin-right: 300px;
    margin-top: 10px;
}

#om{

    margin-left: 160px;
    margin-right: 370px;
    text-decoration: none;
    font-size: 3em;
    color: grey;
    font-family: fyra;
    margin-top: 20px;
    

}



#bläddra{

    margin-top: 20px;
    font-size: 3em;
    color: grey;
    font-family: fyra;
}

#om:hover{

    animation-name: text;
    animation-duration: infinite;
}
#shocase1{

    width: 94%;
    height: 55%;
    margin-top: 140px;
    box-shadow: -30px 30px 60px 0px rgba(21, 21, 21, 0.748); 

}

#leftbutton{

    height: 170px;
    width: 160px;
    margin-right: 20px;
    border-radius: 600px;
    backdrop-filter: blur(600px);
    background-color: transparent;
    border: 2px solid rgba(230, 229, 229, 0.5);
    box-shadow: -20px 20px 20px 0px rgba(248, 248, 248, 0.492) inset; 
    backdrop-filter: blur(60px);
    transition: 0.6s;
}

#rightbutton{

    
    height: 170px;
    width: 160px;
    border-radius: 600px;
    backdrop-filter: blur;
    background-color: transparent;
    border: 2px solid rgba(230, 229, 229, 0.5);
    box-shadow: 20px 20px 40px 0px rgba(255, 255, 255, 0.681) inset; 
    backdrop-filter: blur(600px);
    opacity: 1;
    transition: 0.6s;
}


#rightbutton img{
    height: 90px;
    opacity: 0.2;

}

#leftbutton img{

    height: 90px;
    rotate: 180deg;
    opacity: 0.2;
    transition: o.6s;
}

#leftbutton:hover{
    box-shadow: 30px 20px 20px 0px rgba(248, 248, 248, 0.492) inset; 
}

#rightbutton:hover{
    box-shadow: -30px 20px 40px 0px rgba(255, 255, 255, 0.681) inset; 
}



#infotext{
    background-color: transparent;
    width: 400px;
    height: 500px;
    margin-left: 20px;
    border-radius: 100px;
    border: 2px solid rgba(230, 229, 229, 0.5);
    backdrop-filter: blur(5px);
    text-overflow: inherit;
    font-size: 1em;
    margin-bottom: 80px;

}

#infoTEXT{

    padding: 40px;
    margin-top: 50px;
    color: whitesmoke;
    text-shadow: rgba(230, 229, 229, 0.5);
    font-family: ett;

}


#infoTEXT h2{

    margin: 0px;
    padding: 0px;
    
}



#headshot{
    display: flex;
    
    background-color: transparent;
    width: 400px !important;
    height: 500px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 100px;
    border: 2px solid rgba(230, 229, 229, 0.5);
    backdrop-filter: blur(5px);
    text-overflow: inherit;
    font-size: 1em;

}

#headshot img{
    display: flex;
    width: 70%;
    height: 80%;
    margin-left: 60px;
    margin-top: 45px;
    border-radius: 60px;
}


a:link{
        text-decoration: none;
}



header{

    grid-area: hd;
    background-color: whitesmoke;
    border-radius: 15px;
    opacity: 0.9;
    width: 90vw;
    margin-left: 80px;
    padding: 10px;
    display: flex;
    text-decoration: none;

}

main{

    grid-area: mn;

}

aside{
    display: flex;
    grid-area: as;
    background-color: transparent;
    justify-content: space-around; 
    align-items: center;
}


section{
    display: flex;
    grid-area: sc;
    background-color: transparent;
    align-items: center;
    justify-content:space-around;
}





