body{
    display: grid;
    grid-template-columns: 40vw 20vw 40vw; 
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas: 
    'sc mn as'
    'sc mn as'
    'sc mn as';
    background-image: url(../img/modern-blank-room-blue-turquoise-wall-with-sunlight-window-blank-room-background-use_861973-37390.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 97vh;   
}

@font-face {
    font-family: olle;
    src: url(/fonts/Oi-Regular.ttf);
}



#shocase1{

    width: 94%;
    height: 50%;
    margin-top: 230px;
    box-shadow: -30px 30px 60px 0px rgba(21, 21, 21, 0.748); 

}

#leftbutton{

    height: 170px;
    width: 160px;
    margin-right: 20px;
    border-radius: 600px;
    backdrop-filter: blur(600px);
    background-color: transparent;
    border: 2px solid rgba(230, 229, 229, 0.5);
    box-shadow: -20px 20px 20px 0px rgba(248, 248, 248, 0.492) inset; 
    backdrop-filter: blur(60px);
    transition: 0.6s;
}

#rightbutton{

    
    height: 170px;
    width: 160px;
    border-radius: 600px;
    backdrop-filter: blur;
    background-color: transparent;
    border: 2px solid rgba(230, 229, 229, 0.5);
    box-shadow: 20px 20px 40px 0px rgba(255, 255, 255, 0.681) inset; 
    backdrop-filter: blur(600px);
    opacity: 1;
    transition: 0.6s;
}


#rightbutton img{
    height: 90px;
    opacity: 0.2;

}

#leftbutton img{

    height: 90px;
    rotate: 180deg;
    opacity: 0.2;
    transition: o.6s;
}

#leftbutton:hover{
    backdrop-filter: blur(5px);
    box-shadow: 30px 10px 20px 0px #ffffff7d inset; 
    width: 70px;

}

#rightbutton:hover{

    backdrop-filter: blur(5px);
    box-shadow: -30px 10px 20px 0px #ffffff7d inset; 
    width: 70px;
    margin-right: 90px;
}



#infotext{
    background-color: transparent;
    width: 400px;
    height: 500px;
    margin-left: 20px;
    border-radius: 100px;
    border: 2px solid rgba(230, 229, 229, 0.5);
    backdrop-filter: blur(5px);
    text-overflow: inherit;
    font-size: 1em;

}

#infoTEXT{

    padding: 40px;
    margin-top: 50px;
    color: whitesmoke;
    text-shadow: rgba(230, 229, 229, 0.5);


}

#infoTEXT h2{

    margin: 0px;
    padding: 0px;
}

#headshot{
    display: flex;

    background-color: transparent;
    width: 400px !important;
    height: 500px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 100px;
    border: 2px solid rgba(230, 229, 229, 0.5);
    backdrop-filter: blur(5px);
    text-overflow: inherit;
    font-size: 1em;

}

#headshot img{
    display: flex;
    width: 70%;
    height: 80%;
    margin-left: 60px;
    margin-top: 45px;
    border-radius: 60px;
    
}

#namnHeadshot{
    display: flex;
    margin-top: 550px;
    margin-left: -515px;  
    margin-right: 50px;  
    height: 60px;
    width: 400px;
    border-radius: 40px;
    border: 2px solid rgba(230, 229, 229, 0.5);
    background-color: transparent;
    backdrop-filter: blur(600px);
    color: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

}

#headshotText{
    display: flex;
    margin-top: 0px;
    font-size: 1.67em;
    margin-top: 0;
    font-family: "olle";
    color: whitesmoke;
    font-weight: 200;
    
}

header{

    grid-area: hd;
    background-color: blue;
    border-radius: 50px;
    opacity: 0.3;

}

main{

    grid-area: mn;

}

aside{
    display: flex;
    grid-area: as;
    background-color: transparent;
    justify-content: space-evenly; 
    align-items: center;
}


section{
    display: flex;
    grid-area: sc;
    background-color: transparent;
    align-items: center;
    justify-content:space-around;
}





